.container-dashboard {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: cardIn 500ms;
  }

.list-post-dashboard {
    list-style: none;
}