#app {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app main {
  margin-left: 30px;
}

.container-dashboard {
  animation: cardIn 500ms;
}

.title {
  font-size: 18pt;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  color: rgb(3, 74, 180);
  margin-bottom: 20px;
  text-align: center;
  transition: opacity 1s;
  transition: transform 0.2s;
  transition: color 0.5s;
}

.title:hover {
  opacity: 0.8;
  color: #f14d4e;
  transform: scale(1.01);
}

.list-post-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

.welcome-text {
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #0A1032;
}

.welcome {
  margin-top: 50px;
  margin-bottom: 20px;
}
