.infos {
  width: 100%;
  max-width: 800px;
  height: 550px;
  background-color: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.253);
  border-radius: 0px 0px 8px 8px;
  transition: transform 0.2s;
  animation: down 500ms;
}

.content-infos {
  margin: auto;
  max-width: 575px;
}

.input-block {
  display: flex;
}

.textarea {
  margin: 0 auto;
  margin-top: 5px;
  transition: border 0.2s;
  transition: transform 0.2s;
}

.textarea:focus {
  border: 1px solid #6c96d4;
}

.textarea:hover{
  transform: scale(1.01);
}

.post-title {
  font-size: 22pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #496083;
  margin-top: 25px;
  margin-bottom: 7px;
  text-align: center;
  transition: opacity 1s;
  transition: transform 0.2s;
  transition: color 0.5s;
}

.post-title:hover {
  opacity: 0.8;
  color: #f14d4e;
  transform: scale(1.01);
}