.link {
  color: #0375B4;
  font-size: 23px;
  font-weight: 300;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.2s;
}

.logo-nav {
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #f14d4e;
  margin-bottom: 20px;
  text-align: center;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

.logo-nav:hover {
  color: #0375B4;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

.logo {
  margin-bottom: 20px;
}

.link-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  transition: opacity 0.2s;
  transition: transform 0.2s;
  
}

.link-container:hover {
  opacity: 0.8;
  transform: scale(1.01);
}

.separator {
  color: rgb(107, 154, 179);
  margin: 15px 0px;
}

.greetings {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(45, 58, 65, 0.938);
}

.greetings .link {
  font-size: 1em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.greetings .link:hover {
  opacity: 0.8;
  transform: scale(1.01);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
