.link {
  color: #0375B4;
  font-size: 23px;
  font-weight: 300;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.2s;
}

.logo-nav {
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: #f14d4e;
  margin-bottom: 20px;
  text-align: center;
  transition: opacity 1s;
  transition: transform 0.2s;
  transition: color 0.5s;
}

.logo-nav:hover {
  opacity: 0.8;
  color: #0375B4;
  transform: scale(1.01);
}

.logo {
  margin-bottom: 20px;
}

.link-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  transition: opacity 0.2s;
  transition: transform 0.2s;
  
}

.link-container:hover {
  opacity: 0.8;
  transform: scale(1.01);
}
