li {
  margin-bottom: 5px
}

.post-item {
  width: 250px;
  max-width: 250px;
  height: 260px;
  padding: 15px;
  color: #0A1032;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.253);
  border-radius: 3px 3px 3px 3px;
  background: #FFF;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.post-item:hover {
  background: #0A1032;
  border-radius: 0px 30px 30px 30px;
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

strong {
  font-size: 18pt;
  font-weight: 500;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #FFF;
}

.category-description {
  background-color: #FFF;
  padding: 7px 7px 7px 7px;
  align-items: center;
  justify-content: center;
  border-radius: 50px 50px 0px 50px;
  min-width: 50px;
  max-width: 150px;
  margin-bottom: 7px;
  float: right;
}

.post-item:hover .category-description {
  background-color: #303553;
}

.post-item:hover #date {
  color: #7B6BF8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.post-item:hover #date:hover {
  color: #f14d4e;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#date {
  margin-bottom: 8px;
}

#category-description {
  padding-left: 3px;
  font-weight: 500;
  font-size: 10pt;
}

#date {
  text-align: right;
  font-size: 10pt;
}

.post-content {
  margin-top: 10px;
  overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 4.9em; /* aqui vc controla a altura da caixa de texto */
    text-align: justify;
}

.post-content:before {
    position: absolute;
    right: 0px;
    bottom: 0;
    /* background-color: #ffffff; */
    padding: 0 0px 0 0.25em;
}

.post-footer {
  margin-top: 10px;
  padding: 7px 7px 7px 7px;
  align-items: center;
  justify-content: center;
  border-radius: 50px 0px 50px 50px;
  min-width: 50px;
  max-width: 150px;
  float: right;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.post-footer:hover {
  background-color: #7B6BF8;
  color: #FFF;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.post-link {
  color: #2e53a3;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.post-item:hover .post-link {
  color: #FFF;
}