.infos-category {
  width: 100%;
  max-width: 600px;
  height: 300px;
  background-color: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.253);
  border-radius: 0px 0px 8px 8px;
  transition: transform 0.2s;
  animation: down 500ms;
}

.content-category-infos {
  margin: auto;
  max-width: 375px;
}

.category-title {
  font-size: 22pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #496083;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
  transition: opacity 1s;
  transition: transform 0.2s;
  transition: color 0.5s;
}

.category-title:hover {
  opacity: 0.8;
  color: #f14d4e;
  transform: scale(1.01);
}

.button-class {
  margin: auto;
  max-width: 250px;
}

.category-input {
  max-width: 575px;
}