/* fix scroll bar */
.container-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infos {
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px #ebebeb;
  transition: transform 0.2s;
  animation: cardIn 500ms;
}

.content-infos {
  margin: auto;
  max-width: 775px;
}

.input-block {
  display: flex;
}

